name: ci
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install MaOS deps
        run: brew install sdl2 sdl2_image sdl2_mixer sdl2_ttf pkg-config
      - name: Install python dependencies
        run: |
          python3 -m pip install --break-system-packages --upgrade pip
          pip3 install --break-system-packages -r requirements.txt
      - name: Build on ${{ matrix.os }}
        run: |
          cd pyinstaller_builds
          python3 build.py
